<table mat-table [dataSource]="patients" matSort (matSortChange)="onSortChange($event)">

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> First name</th>
    <td mat-cell *matCellDef="let patient">{{patient.firstName}}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last name</th>
    <td mat-cell *matCellDef="let patient">{{patient.lastName}}</td>
  </ng-container>

  <ng-container matColumnDef="fatherName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Father name</th>
    <td mat-cell *matCellDef="let patient">{{(patient.fatherName) ? patient.fatherName : '-'}}</td>
  </ng-container>

  <ng-container matColumnDef="diagnosis">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Diagnosis</th>
    <td mat-cell *matCellDef="let patient">{{patient.diagnosis.name}}</td>
  </ng-container>

  <ng-container matColumnDef="ward">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ward</th>
    <td mat-cell *matCellDef="let patient">{{patient.ward.name}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let patient">
      <button mat-icon-button color="primary" matTooltip="Edit patient" (click)="editPatient(patient)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" matTooltip="Delete patient" (click)="deletePatient(patient)">
        <mat-icon>close</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-toolbar>
  <mat-toolbar-row>
    <button mat-flat-button color="primary" (click)="addPatient()">Add</button>
    <mat-paginator
      [showFirstLastButtons]="true"
      [pageSizeOptions]="[5, 10]"
      (page)="onPageChange($event)"></mat-paginator>
  </mat-toolbar-row>
</mat-toolbar>
