<h3 mat-dialog-title>Patient</h3>

<form mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput type="text" [formControlName]="'firstName'" required maxlength="20">
    <mat-hint align="end">{{firstName.value.length}}/20</mat-hint>
    <mat-error *ngIf="firstName.hasError('required')">
      First name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput type="text" [formControlName]="'lastName'" required maxlength="20">
    <mat-hint align="end">{{lastName.value.length}}/20</mat-hint>
    <mat-error *ngIf="lastName.hasError('required')">
      Last name is required
    </mat-error>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Father name</mat-label>
    <input matInput type="text" [formControlName]="'fatherName'" maxlength="20">
    <mat-hint align="end">{{fatherName.value.length}}/20</mat-hint>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Diagnosis</mat-label>
    <mat-select [formControlName]="'diagnosis'" required>
      <mat-option *ngFor="let diagnosis of diagnoses" [value]="diagnosis">
        {{diagnosis.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="diagnosis.hasError('required')">
      Diagnosis is required
    </mat-error>
  </mat-form-field>
  <button *ngIf="authService.isAdmin()"
          mat-icon-button
          matTooltip="Add diagnosis"
          (click)="addDiagnosis()">
    <mat-icon>add</mat-icon>
  </button>
  <br>

  <mat-form-field hintLabel="Only not full wards can be selected">
    <mat-label>Ward</mat-label>
    <mat-select [formControlName]="'ward'" required>
      <mat-option *ngFor="let ward of wards" [value]="ward" [disabled]="wardUnavailable(ward)">
        {{ward.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="ward.hasError('required')">
      Ward is required
    </mat-error>
  </mat-form-field>
  <button *ngIf="authService.isAdmin()"
          mat-icon-button
          matTooltip="Add ward"
          (click)="addWard()">
    <mat-icon>add</mat-icon>
  </button>

</form>
<div mat-dialog-actions align="end">
  <button mat-flat-button [disabled]="!form.valid"
          color="primary" [mat-dialog-close]="form.value" cdkFocusInitial>{{type === 'add' ? 'Add' : 'Save'}}</button>
  <button mat-flat-button type="button" color="warn" mat-dialog-close>Cancel</button>
</div>
