<div class="wards-container">
  <h2 mat-line>Wards</h2>
  <div class="search-box">
    <mat-form-field class="search-field">
      <mat-label>Search</mat-label>
      <input matInput placeholder="ex. Virus" [(ngModel)]="search" (keyup.enter)="onSearch()">
    </mat-form-field>
    <div>
      <button mat-icon-button (click)="onSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  <div class="list-box">
    <mat-list>
      <mat-list-item *ngFor="let ward of wards; last as last"
                     id="{{ward.id}}"
                     [routerLink]="['/patients']"
                     [queryParams]="{ ward: ward.id.toString() }">
        <h4 mat-line>{{ward.name}}</h4>
        <h4 mat-line [ngClass]="{ 'full': ward.patientCount === ward.maxCount }">
          Patient count: {{ward.patientCount}}/{{ward.maxCount}}</h4>
        <button *ngIf="authService.isAdmin()"
                mat-icon-button color="primary"
                (click)="updateWard(ward); $event.stopPropagation()">
          <mat-icon matTooltip="Edit ward">edit</mat-icon>
        </button>
        <button *ngIf="authService.isAdmin()"
                mat-icon-button color="warn"
                (click)="deleteWard(ward); $event.stopPropagation()"
                [disabled]="(ward.patientCount != 0)">
          <mat-icon
            [matTooltip]="(ward.patientCount != 0) ? 'Can\'t delete ward with patients' : 'Delete ward'">
            close
          </mat-icon>
        </button>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="button-box">
    <button *ngIf="authService.isAdmin()" mat-flat-button color="primary" (click)="addWard()">Add</button>
  </div>
</div>
