<div class="diagnoses-container">
  <h2 mat-line>Diagnoses</h2>
  <div class="search-box">
    <mat-form-field class="search-field">
      <mat-label>Search</mat-label>
      <input matInput placeholder="ex. Flue" [(ngModel)]="search" (keyup.enter)="onSearch()">
    </mat-form-field>
    <div>
      <button mat-icon-button (click)="onSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  <div class="list-box">
    <mat-list>
      <mat-list-item *ngFor="let diagnosis of diagnoses; last as last"
                     id="{{diagnosis.id}}"
                     [routerLink]="['/patients']"
                     [queryParams]="{ diagnosis: diagnosis.id.toString() }">
        <h4 mat-line>{{diagnosis.name}}</h4>
        <h4 mat-line>Patient count: {{diagnosis.patientCount}}</h4>
        <button *ngIf="authService.isAdmin()"
                mat-icon-button color="primary"
                (click)="updateDiagnosis(diagnosis); $event.stopPropagation()">
          <mat-icon matTooltip="Edit diagnosis">edit</mat-icon>
        </button>
        <button *ngIf="authService.isAdmin()"
                mat-icon-button color="warn"
                (click)="deleteDiagnosis(diagnosis); $event.stopPropagation()"
                [disabled]="(diagnosis.patientCount != 0)">
          <mat-icon
            [matTooltip]="(diagnosis.patientCount != 0) ? 'Can\'t delete diagnosis with patients' : 'Delete diagnosis'">
            close
          </mat-icon>
        </button>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="button-box">
    <button *ngIf="authService.isAdmin()" mat-flat-button color="primary" (click)="addDiagnosis()">Add</button>
  </div>
</div>
