.table-and-filters {
  display: flex;
  flex-direction: row;
}

.filters {
  flex: 2;
  margin-left: 20px;
}

.table {
  flex: 8;
}

.search {
  display: flex;
  flex-direction: row
}

.search-field {
  min-width: 150px;
  max-width: 500px;
  flex: 8;
}
